<div class="foooter__out mt-5">


    <div class="footer container">
        <div class="footer-intro">
            <img src="https://fullstack.edu.vn/assets/images/f8_text_logo.png" />
            <p>F8 là nơi học lập trình miễn phí.</p>
            <p>Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
            <p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
        </div>
        <div class="footer_f8 mt-5">
            <h5>F8</h5>
            <a href="#">Giới thiệu</a> <br>
            <a href="#">Cầu hỏi thường gặp</a> <br>
            <a href="#"> Liên hệ</a>
        </div>
        <div class="footer_sp mt-5">
            <h5>Sản phẩm</h5>
            <a href="#">MyCv.vn</a> <br>
            <a href="#">FullStack.edu.vn</a>

        </div>
        <div class="footer_help mt-5">
            <h5>Hỗ trợ</h5>
            <a href="#">Hỗ trợ</a> <br>
            <a href="#">Đóng góp</a>

        </div>
        <div class="footer_info mt-5">
            <h5>Theo dõi chúng tôi</h5>
            <p>Nhập email để đăng ký nhận những thông tin hữu ích về học tập từ F8</p>
            <input type="email" value="" placeholder="Hãy nhập email của bạn">
            <button>Đăng ký</button>
        </div>
    </div>
</div>